div.inside ul, div.inside ol {
	margin-left: 20px;
}

.postbox {
	margin: 10px 10px 0 0;	
}

.postbox#shopp-zendesk-donate {
	border-color: black;
	border-width: 2px;
}

.postbox .hndle {
    cursor: auto;
}