div.inside ul, div.inside ol {
	margin-left: 20px;
}

.postbox {
	margin: 10px 10px 0 0;	
}

.postbox#shopp-zendesk-donate {
	border-color: black;
	border-width: 2px;
}

.postbox .hndle {
    cursor: auto;
}

#optin {
	background: #393939 url(images/dark.png) repeat-x top;
	border: 3px solid #111;
	color: #fff;
	padding: 20px 15px;
	text-align: center;
}
	#optin p { margin: 8px 0 0 }
	#optin input {
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		box-shadow: 0 2px 2px #111;
		-moz-box-shadow: 0 2px 2px #111;
		-webkit-box-shadow: 0 2px 2px #111
	}
		#optin input[type="text"] {
			border: 1px solid #111;
			font-size: 15px;
			margin-bottom: 10px;
			padding: 8px 10px;
			width: 90%
		}
		#optin input.email { background: #fff url(images/email.png) no-repeat center right }
		#optin input.name { background: #fff url(images/name.png) no-repeat center right }
		#optin input[type="submit"] {
			background: #960e17 url(images/red.png) repeat-x top;
			border: 1px solid #111;
			color: #fff;
			cursor: pointer;
			font-size: 18px;
			font-weight: bold;
			padding: 8px 0;
			text-shadow: -1px -1px #3a060a;
			width: 100%
		}
			#optin input[type="submit"]:hover { color: #ffa5a5 }